/scratch
/build
/.tmp
/workspace

/luacov.report.out
/.ignore*

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

/luarocks
/lua
!/deps/**/lua

/lua_modules
/.luarocks
